/* Created by: Dominic M.
* Created on: Feb 2023
* This file contains the CSS for index2.html
*/

.mdl-layout__headr-row2 {
  align-items: center;
  justify-content: center;
}

.mdl-layout__contnt {
  padding-left: 25pt;
  padding-right: 25pt;
  padding-top: 25pt;
}

/* Due to error in MDL : https://github.com/google/material-design-lite/issues/5281
*/
.mdl-ripple {
  background: #000;
  opacity: 0.001;
}

.page-content {
  color: red;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.75rem;
}

p {
  color: #ff0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.75rem;
  padding-top: 10pt;
}

body {
  background-color: yellow;
}